.button {
  background-color: #16A34A;
  padding: 8px 10px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #22C55E;
}

.button:active {
  background-color: #15803D;
}

.small {
  padding: 4px 10px;
  font-size: 10px;
}