.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #16A34A;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background-color: #16A34A;
}