.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 24px;
  box-sizing: border-box;
}

.from-group {
  display: flex;
  flex-direction: column;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: #fafafa;
  gap: 4px;
  margin-bottom: 10px;
}

.form-many-item {
  justify-content: space-between;
}

.form-item {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 36px;
}

.form-item-item {
  padding-left: 22px;
}

.form-item label {
  width: 68px;
  text-align: right;
}

.form-item-sub-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-start {
  margin-bottom: 5px;
  height: 32px;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: #fafafa;
  width: 150px;
}

.input-port {
  width: 80px;
}

.text-path {
  font-size: 12px;
  color: #616161;
}

.result-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.img-qrcode {
  width: 249px;
  height: 249px;
}

.input-result {
  width: 200px;
}

.btn-end {
  margin-top: 20px;
}

.required-symbol {
  color: red;
  margin-right: 3px;
}